<!--   SPANISH VERSION
 -->
            <!-- preloader -->
<!--             <div id="preloader">
                    <div class="loder-box">
                      <div class="battery"></div>
                    </div>
            </div> -->
            <!-- end preloader -->

         <header id="navigation" class="navbar-inverse navbar-fixed-top animated-header">
             <div class="container">
                 <div class="navbar-header" style="margin-right: 0px; margin-left: 0px;">
                     <!-- responsive nav button -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
                     </button>
          <!-- /responsive nav button -->

          <!-- logo -->
          <h1 class="navbar-brand" style="padding: 0">
            <a href="#banner"><img src="https://scontent-mad1-1.xx.fbcdn.net/v/t1.15752-0/p280x280/67631263_746113329137469_8528687739883749376_n.png?_nc_cat=101&_nc_oc=AQlD8hAmnpuNogsan_l7fdKveIGvt3j4Iv77Juvx5Tcw3-niUk9CXYtTuu4q0gk1eXk&_nc_ht=scontent-mad1-1.xx&oh=f1b99af60048e217124d84744a7f7782&oe=5DA65441" style="height: 70px" alt=""></a>
          </h1>
          <!-- /logo -->
                 </div>

        <!-- main nav -->
                 <nav class="collapse navbar-collapse navbar-right" role="navigation">
                     <ul  class="nav navbar-nav">
                         <li ><a class="nav-item" href="mailto:solarmenteteam@gmail.com?Subject=Join%20the%solarmente%20family!" target="_blank">Contact</a></li>
                         <li ><a class="nav-item" href="https://www.linkedin.com/in/theoneandonlywouterdraijer/" target="_blank">Equipo</a></li>
                         <li><a href="https://www.facebook.com/SolarmenteESP/"><i class="fab fa-facebook-f" target="_blank" style="height: 30px;"></i></a></li>
                         <li><a href="https://www.linkedin.com/company/15810437/admin/"><i class="fab fa-linkedin" target="_blank" style="height: 30px;"></i></a></li>
                         <li><a href="https://www.instagram.com/solarmente_esp/"><i class="fab fa-instagram" target="_blank" style="height: 30px;"></i></a></li>
                     </ul>
                 </nav>
        <!-- /main nav -->

             </div>
         </header>

<!--  END NAVBAR SECTION
 -->
 <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.tesla.com/tesla_theme/assets/img/solar/panels/section-hero.jpg?20180104); width: 100%;">
     <div class="box-form">
       <div class="row">
         <div class="col-md-12">
           <h1>ilumina tu futuro.</h1>
           <p><br></p>
         </div>
       </div>
       <div class="row form-solar">
         <div class="col-md-4 col-sm-4">
           <% if defined? error_message %>
             <p class="bg-danger"><%= error_message %></p>
           <% end %>
           <form action="/" method="POST">
             <div class="form-group">
               <label for="first_name">Nombre</label>
               <input type="text" class="form-control" name="first_name" id="first_name">
             </div>
             <div class="form-group">
               <label for="last_name">Apellido</label>
               <input type="text" class="form-control" name="last_name" id="last_name">
             </div>
             <div class="form-group">
               <label for="email">Email</label>
               <input type="email" class="form-control" name="email" id="email">
             </div>
 <!--             <div class="form-group">
               <label for="number">Number of people currently living in the Property</label>
               <input type="text" class="form-control" name="number" id="number">
             </div> -->
             <button type="submit" class="btn btn-flat"> Solicitá una evaluación gratuita</button>
           </form>
         </div>
       </div>
     </div>
   </div>


  <section class="testimonials text-center bg-light">
     <div class="container">
       <h2 class="mb-5 title-testimonials">Lo que la gente esta diciendo...</h2>
       <div class="row">
         <div class="col-lg-4">
           <div class="testimonial-item mx-auto mb-5 mb-lg-0">
             <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
             <h5>Susana M. de <i>Grannollers</i></h5>
             <p class="font-weight-light mb-0">"¡Finalmente, una buena compañía en energía solar! Simplemente funciona, es asequible y también se ve muy bien. ¡La aplicación móvil que proporcionan es espectacular!"</p>
           </div>
         </div>
         <div class="col-lg-4">
           <div class="testimonial-item mx-auto mb-5 mb-lg-0">
             <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
             <h5>Bernat R. de <i>Barcelona</i></h5>
             <p class="font-weight-light mb-0">"  No tenía conocimiento sobre la energía solar. Solarmente me explicó todo. Ahora tenemos 6 paneles solares en nuestra casa. ¡Somos sostenibles! :)"</p>
           </div>
         </div>
         <div class="col-lg-4">
           <div class="testimonial-item mx-auto mb-5 mb-lg-0">
             <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
             <h5>Aina y Manel D. de <i>Terrassa</i></h5>
             <p class="font-weight-light mb-0">"Dos instaladores vinieron el sábado pasado para instalar nuestros 4 paneles. Me gustó ver cómo lo hicieron. Nuestro pequeño hijo estaba aún más emocionado cuando estaban trabajando, los chicos son divertidos. Buen trabajo, muchachos."</p>
           </div>
         </div>
       </div>
     </div>
   </section>
   <br>

   <div class="box">
     <div class="card-category card-category-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.tesla.com/tesla_theme/assets/img/solar/panels/EVNT_Pasadena_CA_160630_AD-0349_14_RGB-WiderTaller-2@2x.jpg?20180104)">
       <h2 id="hidden">1. Analizamos el potencial de tu casa <span style="font-size: 16px; color: whitesmoke;"><i>(<1min)</i></span><br><br>2. Obtenga un plan de energía solar personalizado <span style="font-size: 16px; color: whitesmoke;"><i>(<1min)</i></span></h2>
     </div>
     <div class="card-category card-category-text">
       <ol class="list">
<!--
         <h2 class="item">Ahorras dinero desde el primer día</h2>
         <h2 class="item">Contribuye a un mundo y estilo de vida sostenibles</h2>
         <h2 class="item">Incrementa el valor de tu propiedad hasta en un 4%</h2> -->
         <h2 class="item">Analizamos el potencial de tu casa en segundos</h2>
         <h2 class="item">Obtenga un plan de energía solar personalizado</h2>
         <h2 class="item">Entrega e instalación de kits solares en 72 horas</h2>
         <h2 class="item">Excelente atención al cliente</h2>
       </ol>
     </div>
   </div>
   <div class="box">
     <div class="card-category card-category-text">
     <ol class="list">
       <h2 class="item">Reduce significativamente tu factura eléctrica</h2>
       <h2 class="item">Entregamos e instalamos kits solares completos</h2>
<!--        <h2 class="item">Incrementa el valor de tu propiedad hasta en un 4%</h2> -->
       <h2 class="item">Acceda a sus datos de generación de energía 24/7 con nuestra <a href="https://www.youtube.com/watch?v=l4Sz_OvJhkU" style="text-decoration: none">App</a></h2>

     </ol>
     </div>
     <div class="card-category card-category-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.pixabay.com/photo/2012/03/03/23/11/alternative-21581_1280.jpg)">
       <h2 id="hidden2">3. Entrega e instalación de kits solares <span style="font-size: 16px; color: whitesmoke;"><i>(<72h)</i></span><br><br>4. Excelente atención al cliente <span style="font-size: 16px; color: whitesmoke;"><i>(forever)</i></span></h2>
     </div>
   </div>
<!--    <div class="testimonials" style="background: url('https://images.unsplash.com/photo-1471922694854-ff1b63b20054?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1652&q=80'); background-size: cover; height: 300px;">
     <h2 style="margin-left: 5vw;">Porque Solarmente?</h2>
     <div class="card-product founder why-us">
       <div class="list-why-us">
         <i class="fas fa-star"></i>
         <p>Equipo altamente experimentado</p>
       </div>
       <div class="list-why-us">
         <i class="fas fa-address-card"></i>
         <p>Atención al cliente 24/7</p>
       </div>
       <div class="list-why-us">
         <i class="fas fa-hourglass"></i>
         <p>12 años de garantia</p>
       </div>
       <div class="list-why-us">
         <i class="fas fa-heart"></i>
         <p>100% de transparencia</p>
       </div>
     </div> -->
<!--

     WHY US SECTION -->
    <div style="margin-top: 100px;">
      <h2 style="text-align: center; margin-bottom: 20px;">¿Por qué elegirnos?</h2>
      <div class="kards">
        <div class="kard-kategory" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)">
          Equipo altamente experimentado
        </div>

        <div class="kard-kategory" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1512917774080-9991f1c4c750?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)">
          Atención al cliente 24/7
        </div>

        <div class="kard-kategory" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1501139083538-0139583c060f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)">
          12 años de garantia
        </div>
      </div>
    </div>



 <!-- VIDEO SECTION -->
     <div class="tv-container">
      <h2 style="margin-bottom: 20px;">¿Que es la Energia Solar?</h2>
       <iframe width="560" height="315" src="https://www.youtube.com/embed/CTs15WYMqcg?&autoplay=1&mute=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     </div>



 <!-- END OF VIDEO SECTION -->
 <!-- FAQ SECTION -->
 <div class="box-map">
   <h2>Preguntas frecuentes:</h2>
    <div class="toggle">
      <div class="toggle-title ">
        <h3>
        <i></i>
        <span class="title-name">¿Qué es un panel solar y cómo funciona?</span>
        </h3>
      </div>

      <div class="toggle-inner">
        <p>Un panel solar es un panel plano que sencillamente genera energía eléctrica a partir de la radiación del sol.
Todas las casas están conectadas, por defecto,  a la red eléctrica pública del país.  Cuando se instalan paneles solares, la energía que se genera se convierte en electricidad útil al instante mediante un instrumento silencioso (llamado inversor) y relativamente pequeño que hace de puente entre su instalación doméstica y los paneles.
Durante el día su casa puede funcionar con energía solar y durante la noche consumiendo electricidad de la red. Si sus paneles solares generan más energía de la que utiliza, ésta es entregada a la red.
</p>
      </div>
      </div><!-- END OF TOGGLE -->

      <div class="toggle">
        <div class="toggle-title  ">
          <h3>
          <i></i>
          <span class="title-name"> ¿Cuáles son los beneficios financieros de la energía solar?</span>
          </h3>
        </div>

        <div class="toggle-inner">
          <p>Instalar un sistema de energía solar en su propiedad, permite ahorrar dinero en sus facturas de electricidad y protegerse contra el aumento de las tarifas eléctricas en el futuro.
            <br>
Cuanto puede ahorrar dependerá de las tarifas de servicios públicos y las políticas de energía solar en su área, pero invertir en energía solar es siempre una inversión inteligente y con  muchos beneficios.
<br>
España tiene un promedio de 3000 horas de luz solar directa, y otras en las que aun cuando el sol se oculta entre las nubes ¡sus paneles solares siguen generando electricidad!
La electricidad que puede generar su sistema de energía solar depende de la cantidad de radiación solar que recibe. Esto significa que sus paneles solares producirán un poco menos de energía cuando el cielo esté nublado y que no generarán energía durante la noche.

          </p>
        </div>

        </div><!-- END OF TOGGLE -->



      <div class="toggle">
        <div class="toggle-title  ">
          <h3>
          <i></i>
          <span class="title-name"> ¿Cuáles son los beneficios de la energía solar?</span>
          </h3>
        </div>

        <div class="toggle-inner">
          <p>La energía solar, al igual que otros recursos de energía renovable, reporta muchos beneficios ambientales y para la salud. El uso de energía solar reduce las emisiones de gases de efecto invernadero que contribuyen al cambio climático. También produce menos contaminantes del aire, como el dióxido de azufre y las partículas, que pueden causar problemas respiratorios de salud. Se reduce el impacto de CO2 de su casa a partir del primer día.
            <br>
Además, los estudios han demostrado que los hogares con sistemas de energía solar se revalorizan más que los hogares sin ellos. El aumento del valor de su propiedad oscilará probablemente entre el 1.5% - 4.0%.

          </p>
        </div>

        </div><!-- END OF TOGGLE -->




      <div class="toggle">
        <div class="toggle-title ">
          <h3>
          <i></i>
          <span class="title-name">¿Es mi techo adecuado para paneles solares?</span>
          </h3>
        </div>

        <div class="toggle-inner">
          <p>En primer lugar, puede colocar paneles solares en su jardín o en su techo, las dos opciones son válidas.
            <br>
Nos encargamos de averiguar si los paneles solares se adaptan a su casa. Podemos instalar paneles en los techos más desafiantes que pueda imaginar. Hemos instalado en techos planos, inclinados o incluso redondos; en principio la geometría de éste no tiene porqué ser un problema. El sistema, es una implementación plug and play, lo que significa que lo más probable es que su techo sea apto para la instalación.
<br>
Si desea conocer si su techo es adecuado para la energía solar, le pedimos que complete nuestro formulario en línea y nos pondremos en contacto lo antes posible.

          </p>
        </div>

        </div><!-- END OF TOGGLE -->



        <div class="toggle">
          <div class="toggle-title ">
            <h3>
            <i></i>
            <span class="title-name">¿Cuántos paneles solares necesito?</span>
            </h3>
          </div>

          <div class="toggle-inner">
            <p>Depende completamente de lo que usted quiera. ¿Desea reducir su factura de electricidad, no quiere gastos de electricidad o quiere generar dinero con sus paneles solares? Nos complacerá asesorarle y encontrar una solución que sea perfecta para usted.</p>
          </div>

        </div><!-- END OF TOGGLE -->

        <div class="toggle">
          <div class="toggle-title ">
            <h3>
            <i></i>
            <span class="title-name">¿Cuánto tiempo durarán mis paneles solares?</span>
            </h3>
          </div>

          <div class="toggle-inner">
            <p>En general, los paneles solares son muy duraderos y capaces de soportar nieve, viento y granizo. Los distintos componentes de su sistema de energía solar deberán reemplazarse en diferentes momentos, pero su sistema debería continuar generando electricidad los próximos de 25 a 35 años.</p>
          </div>

        </div><!-- END OF TOGGLE -->

        <div class="toggle">
          <div class="toggle-title ">
            <h3>
            <i></i>
            <span class="title-name">¿Cómo es el día de la instalación del panel solar?</span>
            </h3>
          </div>

          <div class="toggle-inner">
            <p>Realizará la instalación un equipo de 2 personas experimentadas y certificadas. La instalación de los paneles solares y el kit suponen unas 4-5 horas de trabajo. La adecuación a la casa y al techo determinará el resto del tiempo de instalación.
              <br>
El servicio finaliza cuando todo funciona al 100% y usted 100% satisfecho.
</p>
          </div>

        </div><!-- END OF TOGGLE -->


        <div class="toggle">
          <div class="toggle-title ">
            <h3>
            <i></i>
            <span class="title-name">Información útil adicional:</span>
            </h3>
          </div>

          <div class="toggle-inner">
            <p>¿Necesito instalar baterías con mis paneles solares?
              <br>
              Los sistemas de energía solar que incluyen baterías solares, conocidas como almacenamiento solar, son cada vez más populares, pero pueden ser costosos. Por suerte, las baterías no son necesarias para la mayoría de los propietarios solares. Mientras esté conectado a la red, su sistema no necesita una batería: el exceso de energía es entregada a la red y puede extraer de la red si necesita más electricidad de la que pueden generar sus paneles.
                <br><br>
                ¿Cómo puedo conocer la cantidad de electricidad que necesito?
                <br>
                Usted recibe una factura de electricidad anual de su proveedor de electricidad en su buzón o telemáticamente. Aunque no es necesario que conozcamos este dato directamente, podemos ayudarlo a encontrar la respuesta explicándole como puede conseguirlo poniéndose en contacto con la empresa.
                <br><br>
                ¿Qué aparecerá en la nueva factura de electricidad?
                <br>
Su factura de electricidad será cero o se reducirá significativamente, oscilando entre el 30 i el 100%.

                </p>
          </div>

        </div><!-- END OF TOGGLE -->
     </div>
   <br>
   <br>
     <div class="box-map">
     <h2>Dónde encontrarnos:</h2>
     <div id="map">


     </div>
     </div>
   </div>


