  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.tesla.com/tesla_theme/assets/img/solar/panels/section-hero.jpg?20180104);">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Produce your own clean Energy!</h1>
          <p>Reduce your electricty costs while increasing your house's value!</p>
        </div>
      </div>
      <div class="row form-solar">
        <div class="col-md-4 col-sm-4">
          <% if defined? error_message %>
            <p class="bg-danger"><%= error_message %></p>
          <% end %>
          <form action="/" method="POST">
            <div class="form-group">
              <label for="first_name">First Name</label>
              <input type="text" class="form-control" name="first_name" id="first_name">
            </div>
            <div class="form-group">
              <label for="last_name">Last Name</label>
              <input type="text" class="form-control" name="last_name" id="last_name">
            </div>
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" name="email" id="email">
            </div>
            <div class="form-group">
              <label for="number">Number of people currently living in the Property</label>
              <input type="text" class="form-control" name="number" id="number">
            </div>
            <button type="submit" class="btn btn-flat">Sign up</button>
          </form>
        </div>
      </div>
    </div>
  </div>


 <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5 title-testimonials">What people are saying...</h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
            <h5>Wouter D.</h5>
            <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
            <h5>Fred S.</h5>
            <p class="font-weight-light mb-0">"SolarESP is the new standard. I reckon every home owners will use their solar panels in 10 years!"</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
            <h5>Sarah W.</h5>
            <p class="font-weight-light mb-0">"Thanks so much for making solar energy so easy!"</p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>The time is now</h2>
      <p>The Spanish just changed. It is now totally free to use solar panels. You can even make money selling your Energy Surplus. SolarESP is not an alternative, but an Investment</p>
    </div>
    <div class="col-md-4">
      <h2>It's ridiculously easy!</h2>
      <p>You've never seen an app like this before because it's totally new. In just a few clicks, be part of the future. We take care of everything from the manufacturing until the installation.</p>
   </div>
    <div class="col-md-4">
      <h2>It works</h2>
      <p>Almost all EU countries already do it! Time for spain to catch up!</p>
    </div>
  </div>
</div>

<div class=" iframe-container">
  <iframe width="560" align="center" height="315" src="https://www.youtube.com/embed/CTs15WYMqcg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div id="map">
  <h3>Where to find us:</h3>

</div>

