<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Muchas gracias por su confianza en Solarmente.</h1>
        <p>Nos pondremos en contacto con usted lo antes posible. Ilumina tu futuro con nosotros</p>
      </div>
    </div>
  </div>
</div>

